.btn {
  color: #fff;
  text-decoration: none;
  background-color: #3ac0ea;
  padding: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

.link {
  padding: 0;
  text-decoration: none;
  color: #595959;
  font-size: 16px;
  display: inline-block;
}

.link:visited {
  color: #595959;
}

.btn.btnInverse {
  border: solid 3px #ccc;
  background-color: #fff;
}

.btn.btnSmall {
  padding: 3px;
}

.btn.btnLarge {
  font-size: 18px;
  padding: 9px 77px 8px 76px;
}
