.btn {
  text-decoration: none;
  padding: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  border: none;
  color: #464646;
}

.btn.utility {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn.action {
  color: #fff;
  background-color: #3ac0ea;
}

.link {
  padding: 0;
  text-decoration: none;
  color: #595959;
  font-size: 16px;
  display: inline-block;
}

.link:visited {
  color: #595959;
}

.btn.btnInverse {
  border: solid 3px #ccc;
  background-color: #fff;
}

.btn.btnSmall {
  font-size: 14px;
}

.btn.btnLarge {
  font-size: 18px;
  padding: 9px 77px 8px 76px;
}
