.grid {
  display: flex;
}

.grid > * {
  flex-grow: 1;
}

.grid .grid4 {
  width: 33%;
}

.grid .grid8 {
  width: 66%;
}

.grid > *:not(:last-child) {
  padding-right: 12px;
}

.grid > *:not(:first-child) {
  padding-left: 12px;
}

.grid.gutter6 > *:not(:last-child) {
  padding-right: 6px;
}

.grid.gutter6 > *:not(:first-child) {
  padding-left: 6px;
}

@media screen and (max-width: 768px) {
  .gridDesktopOnly {
    flex-direction: row;
  }
}
