.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > * {
  flex-grow: 1;
}

.grid .grid4 {
  width: 33%;
}

.grid .grid8 {
  width: 66%;
}

.grid > * {
  padding-right: 24px;
}

/* .grid > *:not(:first-child) {
  padding-left: 12px;
} */

.grid.gutter6 > * {
  margin-right: 12px;
  margin-bottom: 12px;
}

/* .grid.gutter6 > *:not(:first-child) {
  margin-left: 6px;
} */

@media screen and (max-width: 768px) {
  .gridDesktopOnly {
    flex-direction: row;
  }
}
