.subTitle {
  text-align: center;
  color: #333;
  padding-bottom: 24px;
  border-bottom: solid 1px #000;
}
.customerForm {
  margin-top: 12px;
  width: 600px;
  margin: auto;
}

.customerForm label {
  align-items: center;
}

.inputWrapper {
  align-items: center;
  margin: 12px;
}
